* {
    margin: 0;
}

body,
textarea {
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    font-size: 1.2rem;
    border: none;
    outline: none;
    resize: none;
    text-align: justify;
    padding-top: 15px;
}


svg {
    height: 24px;
    width: 24px;
}

.highlight svg{
    fill: black;
}

h2 {
    display: grid;
    place-items: center start;
    font-size: 1.2rem;
    font-weight: lighter;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: .8px;
}

.highlight{
    font-weight: bold;
}

.page-container {
    padding: 0 220px 0 220px;
    display: grid;
    grid-template: 
        "side-bar   feed-sect" 1fr/
        250px 1000px;
    gap: 50px;
}

/*** NAVIGATION BAR ***/
.icon {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
}

.option-text {
    margin-top: 1px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 4px;
}

#twitter {
    width: 100%;
}

.logo {
    height: 35px;
    width: 35px;
    padding: 10px;
}

.logo:hover {
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50px;
}

.side-bar-option .highlight {
    font-weight: 800;
}

.user {
    border-radius: 50%;
    width: 95%;
    object-fit: cover;
}

.user-info {
    height: 45px;
    padding: 10px;
    display: grid;
    place-items: center;
    grid-template-columns: 45px 1fr 45px;
    gap: 10px;
}

.user-info .user {
    width: 85%;
}

.user-info-text {
    display: grid;
    grid-template-rows: repeat(2, 20px);
}

.user-info .icon{
    width: 35%;
}

.side-bar {
    height: 100vh;
    padding: 0 30px 0 10px;
    display: grid;
    grid-area: side-bar;
    grid-template-rows: repeat(9, 55px) 1fr 80px;
    gap: 4px;
    position: sticky;
    top: 0;
}

.side-bar-option {
    display: grid;
}

.side-bar-option .icon {
    padding: 15px 8px 6px 9px;
}

.side-bar-option:hover,
.user-info:hover {
    background-color: rgba(15, 20, 25, 0.1);
    border-radius: 30px;
}

.side-bar-button {
    padding-top: 20px;
}

.tweet-button {
    background-color: rgb(29, 155, 240);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 15px 30px;
    display: grid;
    place-items: center center;
}

.tweet-button:hover {
    background-color:rgb(26, 140, 216);
}

/*** RIGHT CONTAINER***/
.feed-container {
    display: grid;
    grid-area: feed-sect;
    grid-template:
        "following  news" 1fr/
        600px 400px;
    gap: 15px;
}

/*** STATUS UPDATE/FOLLOWING ***/
.following-feed {
    display: grid;
    grid-area: following;
    grid-template: 
        "follow-header" 30px
        "status" 100px
        "tweets" 1fr;
    gap: 30px;
}

.following-header {
    display: grid;
    grid-area: follow-header;
    grid-template-columns: 1fr 46px;
    gap: 5px;
}

.explore {
    width: 60%;
    padding: 12px;
}

.explore:hover {
    background-color: rgba(15, 20, 25, 0.1);
    border-radius: 50%;
}

.status-update {
    height: 115px;
    display: grid;
    grid-area: status;
    grid-template-columns: 58px 1fr;
    gap: 5px;
}

.status-update-right {
    height: 115px;
    display: grid;
    grid-template-rows: 56px 48px;
}

.status-options{
    height: 25px;
    display: grid;
    grid-template-columns: 1fr 85px;
}

.status-icons {
    display: inline-block;
    vertical-align: center;
}

.status-update-icon{
    padding-right: 5px;
    fill: rgb(29, 155, 240);
}

#image,
#gif,
#poll,
#emoji,
#schedule {
    padding: 10px;
}

#image:hover,
#gif:hover,
#poll:hover,
#emoji:hover,
#schedule:hover {
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50%;
}

.tweet-button-status {
    background-color: rgba(29, 156, 240, 0.5);
    border-radius: 30px;
    height: 15px;
    width: 70px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    padding: 8px 6px;
    display: inline-block;
    vertical-align: bottom;
}

.tweets-container {
    display: grid;
    grid-area: tweets;
    gap: 30px;
}

.tweet {
    display: grid;
    grid-template-columns: 58px 1fr;
    gap: 10px;
}

.tweet-right {
    display: flex;
    flex-direction: column;
}

.tweet-right-user p {
    display: inline-block;
    padding-bottom: 10px;
}

.tweet-content {
    padding-bottom: 10px;
}

.tweet-img{
    height: 310px;
    width: 440px;
    border-radius: 20px;
    padding-bottom: 5px;
}

.tweet-icons {
    display: grid;
    grid-auto-flow: column;
    place-items: center start;
}

.comment,
.repost,
.like,
.share {
    padding: 7px;
}

.comment:hover {
    fill:rgb(29, 155, 240);
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50%;
}

.repost:hover {
    fill:rgb(0, 186, 124);
    background-color: rgba(0, 186, 124, 0.1);
    border-radius: 50%;
}

.like:hover {
    fill: rgb(249, 24, 128);
    background-color: rgba(249, 24, 128, 0.1) ;
    border-radius: 50%;
}

.share:hover {
    fill: rgb(29, 155, 240);
    background-color: rgba(29, 155, 240, 0.1) ;
    border-radius: 50%;
}


/*** NEWS BAR ***/
.news-feed {
    height: 100vh;
    padding: 0 20px 0 20px;
    display: grid;
    grid-area: news;
    grid-template: 
        "search-bar" 50px
        "trends" 2fr
        "suggestions" 1fr
        "." 1fr;
    gap: 15px;

    position: sticky;
    top: 0;
}

.news-feed-header {
    display: inline-block;
}

#search-bar {
    padding: 0 8px 25px 0;
}

.trends {
    display: grid;
    grid-area: trends;
    grid-template-rows: 40px repeat(5, 80px) 40px;
    gap: 10px;
}

.trends-header {
    display: grid;
    grid-template-columns: 1fr 35px;
    place-items: center start;
}

.trends-header .highlight {
    font-size: 1.2rem;
}

#trends-settings {
    padding:10px;
}

#trends-settings:hover {
    background-color: rgba(15, 20, 25, 0.1);
    border-radius: 50%;
}

.small {
    font-size: 0.9rem;
}

.trend p {
    line-height: 1.5;
}

.trends a{
    color: rgba(29, 155, 240);
    letter-spacing: 0;
}

.follow-suggestions{
    display: grid;
    grid-area: suggestions;
}

.follow-suggestions .highlight {
    font-size: 1.2rem;
}

.follow-info {
    height: 45px;
    display: grid;
    place-items: center;
    grid-template-columns: 45px 1fr 70px;
}

.follow-button {
    background-color: black;
    border-radius: 30px;
    height: 15px;
    width: 70px;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    padding: 8px 6px;
    display: inline-block;
    vertical-align: bottom;
}

.follow-suggestions a{
    color: rgba(29, 155, 240);
    letter-spacing: 0;
}

.follow-info .highlight {
    font-size: 1rem;
}