* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    display: grid;
    place-items: center start;
    font-size: 1.2rem;
    font-weight: lighter;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: .8px;
}

.side-bar-option .highlight {
    font-weight: 800;
}

.highlight{
    font-weight: bold;
}

.page-container {
    padding: 0 75px 0 75px;
    display: grid;
    grid-template: 
        "side-bar   feed-sect" 1fr/
        1fr 5fr;

    gap: 20px;
}

.icon {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
}

.option-text {
    margin-top: 1px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-left: 4px;
}

#twitter {
    width: 100%;
}

.logo {
    height: 35px;
    width: 35px;
    padding: 10px;
}

.logo:hover {
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50px;
}

.user {
    border-radius: 50%;
    width: 95%;
    object-fit: cover;
}

.user-info {
    height: 45px;
    padding: 10px;
    display: grid;
    place-items: center;
    grid-template-columns: 45px 1fr 45px;
}

.user-info .user {
    width: 85%;
}

.user-info-text {
    display: grid;
    grid-template-rows: repeat(2, 20px);
}

.user-info .icon{
    width: 35%;
}

.side-bar {
    height: 100vh;
    padding: 0 30px 10px 10px;
    display: grid;
    grid-area: side-bar;
    grid-template-rows: repeat(9, 55px) 1fr 80px;
    gap: 4px;
    position: sticky;
    top: 0;
}

.side-bar-option {
    display: grid;
}

.side-bar-option .icon {
    padding: 15px 8px 6px 9px;
}

.side-bar-option:hover,
.user-info:hover {
    background-color: rgba(15, 20, 25, 0.1);
    border-radius: 30px;
}

.side-bar-button {
    padding-top: 20px;
}

.tweet-button {
    background-color: rgb(29, 155, 240);
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 15px 30px;
    display: grid;
    place-items: center center;
}

.tweet-button:hover {
    background-color:rgb(26, 140, 216);
}

.feed-container {
    display: grid;
    grid-area: feed-sect;
    grid-template:
        "following  news" 1fr/
        3fr 1.8fr;

    gap: 15px;
}

.following-feed {
    border: 1px solid black;
    display: grid;
    grid-area: following;
    grid-template: 
        "follow-header" 50px;
}

.following-header {
    border: 1px solid black;
    display: grid;
    grid-area: follow-header;
    grid-template-columns: 1fr 36px;
    gap: 5px;
}

.following-header .icon {
    padding: 4px;
    width: 65%;
}


.status-update {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 10px;
}

.status-update-right {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 56px 48px;
}

.status-update h2{
    color: grey;
}

.news-feed {
    border: 1px solid black;
    display: grid;
    grid-area: news;
}